@media only screen and (max-width: 1800px)
{
    .class
    {
        height: 400px;
    }

    .para
    {
        font-size: 17px;
    }

    .c1-img img
    {
        width: 350px;
        height: 280px;
    }
}

@media only screen and (max-width: 1700px)
{
    .class
    {
        height: 400px;
    }

    .para
    {
        font-size: 17px;
        padding-bottom: 0;
    }

    .c1-info .para
    {
        margin-top: 10px;
    }

    .c1-img img
    {
        width: 350px;
        height: 280px;
    }

    .read-more-1, .read-more-2, .read-more-3, .read-more-4
    {
        margin-top: 0;
    }

    .heading hr
    {
        width: 500px;
    }
}

@media only screen and (max-width: 1600px)
{
    .class
    {
        height: 400px;
    }

    .para
    {
        font-size: 15px;
        padding-bottom: 0;
    }

    .c1-info .para
    {
        margin-top: 10px;
    }

    .c1-img img
    {
        width: 350px;
        height: 280px;
    }

    .read-more-1, .read-more-2, .read-more-3, .read-more-4
    {
        margin-top: 25;
    }

    .heading hr
    {
        width: 500px;
    }
}

@media only screen and (max-width: 1400px)
{
    .class
    {
        height: 400px;
    }

    .para
    {
        font-size: 12px;
        padding-bottom: 0;
    }

    .c1-info .para
    {
        margin-top: 10px;
    }

    .c1-img img
    {
        width: 350px;
        height: 280px;
    }

    .read-more-1, .read-more-2, .read-more-3, .read-more-4
    {
        margin-top: 20px;
    }

    .heading hr
    {
        width: 400px;
    }
}

@media only screen and (max-width: 1325px)
{
    header nav ul li
    {
        padding: 0 0px;
    }

    .class
    {
        height: 300px;
    }

    .c1-info .para
    {
        font-size: 12px;
        padding-bottom: 0;
        margin: 30px 30px 0px 25px;
    }

    .c2-info .para
    {
        margin-top: 10px;
    }

    .c1-img img
    {
        width: 250px;
        height: 200px;
    }

    .read-more-1, .read-more-2, .read-more-3, .read-more-4
    {
        margin-top: 5px;
    }

    .heading h1
    {
        font-size: 20px;
    }

    .heading hr
    {
        width: 400px;
    }
}

@media only screen and (max-width: 1225px)
{
    header nav ul li
    {
        padding: 0 0px;
        font-size: 12px;
    }

    header nav ul li:hover
    {
        padding: 0 0px;
    }

    #searchbar input
    {
        width: 250px;
    }

    .class
    {
        height: 300px;
    }

    .c1-info .para
    {
        font-size: 12px;
        padding-bottom: 0;
        margin: 30px 30px 0px 25px;
    }

    .c2-info .para
    {
        margin-top: 10px;
    }

    .c1-img img
    {
        width: 250px;
        height: 200px;
    }

    .read-more-1, .read-more-2, .read-more-3, .read-more-4
    {
        margin-top: 0px;
    }

    .heading h1
    {
        font-size: 20px;
    }

    .heading hr
    {
        width: 400px;
    }
}

@media only screen and (max-width: 1125px)
{
    header nav ul li
    {
        padding: 0 0px;
        font-size: 12px;
    }

    header nav ul li:hover
    {
        padding: 0 0px;
    }

    #searchbar input
    {
        width: 250px;
    }

    .class
    {
        height: 250px;
        width: 60vw;
    }

    .c1-info .para
    {
        font-size: 12px;
        padding-bottom: 0;
        margin: 10px 15px 0px 0px;
    }

    .c2-info .heading
    {
        margin: 20px 0 0 25px;
    }

    .c2-info .para
    {
        margin: 10px 0 0 25px;
    }

    .c1-img
    {
        padding: 25px 25px;
    }

    .c1-img img
    {
        width: 150px;
        height: 120px;
    }

    .read-more-1, .read-more-2, .read-more-3, .read-more-4
    {
        margin-top: 0px;
    }

    .heading
    {
        margin: 20px 0 0 0px;
    }

    .heading h1
    {
        font-size: 15px;
    }

    .heading hr
    {
        width: 400px;
    }
}

@media only screen and (max-width: 1025px)
{
    header nav ul li
    {
        padding: 0 0px;
        font-size: 12px;
    }

    header nav ul li:hover
    {
        padding: 0 0px;
    }

    #searchbar input
    {
        width: 250px;
    }

    .class
    {
        height: 175px;
        width: 60vw;
    }

    .c1-info .para
    {
        font-size: 8px;
        padding-bottom: 0;
        margin: 10px 15px 0px 0px;
    }
    
    .c2-info .heading
    {
        margin: 20px 0 0 25px;
    }
    
    .c2-info .para
    {
        font-size: 8px;
        margin: 10px 0 0 25px;
    }

    .c1-img
    {
        padding: 25px 25px;
    }

    .c1-img img
    {
        width: 150px;
        height: 120px;
    }

    .read-more-1, .read-more-2, .read-more-3, .read-more-4
    {
        margin-top: 0px;
        font-size: 8px;
    }

    .heading
    {
        margin: 20px 0 0 0px;
    }

    .heading h1
    {
        font-size: 10px;
    }

    .heading hr
    {
        width: 300px;
    }
}

@media only screen and (max-width: 850px)
{
    header nav ul li
    {
        padding: 0 0px;
        font-size: 10px;
    }

    header nav ul li:hover
    {
        padding: 0 0px;
    }

    #searchbar input
    {
        width: 150px;
    }

    .class
    {
        height: 125px;
        width: 60vw;
    }

    .c1-info .para
    {
        font-size: 5px;
        padding-bottom: 0;
        margin: 10px 15px 0px 0px;
        word-spacing: 1px;
    }
    
    .c2-info .heading
    {
        margin: 20px 0 0 25px;
    }
    
    .c2-info .para
    {
        font-size: 5px;
        margin: 10px 0 0 25px;
        word-spacing: 1px;
    }

    .c1-img
    {
        padding: 25px 25px;
    }

    .c1-img img
    {
        width: 75px;
        height: 60px;
    }

    .read-more-1, .read-more-2, .read-more-3, .read-more-4
    {
        margin-top: 10px;
        font-size: 8px;
    }

    .heading
    {
        margin: 20px 0 0 0px;
    }

    .heading h1
    {
        font-size: 8px;
    }

    .heading hr
    {
        width: 250px;
        margin: 5px 0 0 0;
        height: 0.3px;
    }
}

@media only screen and (max-width: 700px)
{
    header nav ul li
    {
        margin: 0 -7px;
        padding: 0 0px;
        font-size: 10px;
    }
    
    header nav ul li:hover
    {
        margin: 0 -7px;
        padding: 0 0px;
    }

    #searchbar
    {
        padding: 0 0 0 0;
    }

    #searchbar input
    {
        width: 90px;
    }

    .class
    {
        height: 125px;
        width: 60vw;
    }

    .c1-info .para
    {
        font-size: 5px;
        padding-bottom: 0;
        margin: 10px 15px 0px 0px;
        word-spacing: 1px;
    }
    
    .c2-info .heading
    {
        margin: 20px 0 0 25px;
    }
    
    .c2-info .para
    {
        font-size: 5px;
        margin: 10px 0 0 25px;
        word-spacing: 1px;
    }

    .c1-img
    {
        padding: 25px 25px;
    }

    .c1-img img
    {
        width: 75px;
        height: 60px;
    }

    .read-more-1, .read-more-2, .read-more-3, .read-more-4
    {
        margin-top: 10px;
        font-size: 5px;
    }

    .heading
    {
        margin: 20px 0 0 0px;
    }

    .heading h1
    {
        font-size: 8px;
    }

    .heading hr
    {
        width: 150px;
        margin: 5px 0 0 0;
        height: 0.3px;
    }
}