@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Lora:ital@1&family=Merriweather:wght@400;900&display=swap');

/*
font-family: 'Merriweather', serif;
*/

/* Margin and padding set to 0 */
*
{
    margin: 0;
    padding: 0;
}

/*Header CSS*/
header
{
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #922c40;
}

/*Header navbar CSS*/
header nav
{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

/*Hotel Logo CSS*/
header nav img
{
    width: 8vh;
    padding: 0 1vh;
}

/*Navbar items CSS (Home, About, Contact Us, etc..)*/
header nav ul li
{
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}

/*While hover on Navbar Items CSS*/
header nav ul li:hover
{
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    color:#ffcf6e;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}

/*Navbar items anchor tag CSS*/
header nav ul a
{
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}

/* Searchbar CSS */
#searchbar
{
    padding: 0 0 0 50px;  
}

/* Searchbar input area CSS */
#searchbar input
{
    border-radius: 5px;
    width: 576px;
    height: 3vh;
    padding: 0 0 0 12px;
}

/* Search button CSS */
#search-button
{
    padding: 0 0 0 12px;
}

#search-button button
{
    width: 50px;
    height: 3.4vh;
    border-radius: 5px;
    background-color: #ffcf6e;
    font-family: 'Merriweather', serif;
}

/* While hovering Search button CSS */
#search-button button:hover
{
    width: 50px;
    height: 3.4vh;
    border-radius: 5px;
    background-color: #ffda6e;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.admin-login
{
    padding-left: 425px;
}

.admin-login a
{
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}

.admin-login a:hover
{
    text-decoration: none;
    list-style: none;
    color:#ffcf6e;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}

/*Body CSS*/
body
{
    background-color: #f3f3f3;
}

/*CSS for main containing all things*/
main
{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
}

/*CSS for main container with background white*/
.main-container
{
    background-color: white;
    width: 70vw;
    margin: 30px 0;
}

/*CSS for Restaurant heading of the page*/
.heading h1
{
    font-family: 'Merriweather', serif;
    padding: 40px 0 20px 550px;
}

/*CSS for yellow line below the Restaurant heading*/
.hr
{
    background-color: #ffcf6e;
    height: 1px;
    margin: 0 200px;
}

/*CSS for Ambience space which includes the heading paragraph and the image beside it*/
.ambience
{
    display: flex;
    padding: 30px 75px 0 0;
}

/*CSS for Ambience heading */
.ambience-para h2
{
    font-family: 'Merriweather', serif;
}

/*CSS for paragraph below the Ambience heading*/
.ambience-para
{
    padding: 0 25px 0 50px;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    word-spacing: 5px;
    width: 725px;
}

.ambience-para p
{
    padding: 15px 0 0 0;
}

/*CSS for Menu heading*/
.menu-heading
{
    font-family: 'Merriweather', serif;
    padding: 75px 0 20px 600px;
}

/*CSS for Starters space*/
.starters
{
    display: flex;
    padding: 50px 0 30px 50px;
}

/*CSS for starters menu*/
.starters-menu
{
    padding: 0 0 0 75px;
}

/*CSS for Starters heading*/
.starters h2
{
    font-family: 'Bonheur Royale', cursive;
    font-size: 60px;
    font-weight: 500;
}

/*CSS for Starters list*/
.starters-menu ol
{
    padding: 10px 0 0 30px;
    line-height: 1.6;
}

/*CSS for starters list items*/
.starters-menu ol li
{
    font-family: 'Lora', serif;
    font-size: 25px;
}

/*CSS for Main course space*/
.main-course
{
    display: flex;
    padding: 50px 0 30px 50px;
}

/*CSS for Main course menu*/
.main-course-menu
{
    padding: 0 0 0 40px;
}

/*CSS for Main course heading*/
.main-course h2
{
    font-family: 'Bonheur Royale', cursive;
    font-size: 60px;
    font-weight: 500;
}

/*CSS for Main course list*/
.main-course-menu ol
{
    padding: 10px 0 0 30px;
    line-height: 1.6;
}

/*CSS for Main course menu list item*/
.main-course-menu ol li
{
    font-family: 'Lora', serif;
    font-size: 25px;
}

/*CSS for Main course image*/
.main-course img
{
    padding: 0 0 0 110px;
}

/*CSS for desserts*/
.desserts
{
    display: flex;
    padding: 50px 0 30px 50px;
}

/*CSS for desserts menu*/
.desserts-menu
{
    padding: 0 0 0 75px;
}

/*CSS for desserts heading*/
.desserts h2
{
    font-family: 'Bonheur Royale', cursive;
    font-size: 60px;
    font-weight: 500;
}

/*CSS for desserts heading*/
.desserts-menu ol
{
    padding: 10px 0 0 30px;
    line-height: 1.6;
}

/*CSS for desserts list item*/
.desserts-menu ol li
{
    font-family: 'Lora', serif;
    font-size: 25px;
}

/*CSS for beverages space*/
.beverages
{
    display: flex;
    padding: 50px 0 30px 50px;
}

/*CSS for beverages menu*/
.beverages-menu
{
    padding: 0 0 0 40px;
}

/*CSS for beverages heading*/
.beverages h2
{
    font-family: 'Bonheur Royale', cursive;
    font-size: 60px;
    font-weight: 500;
}

/*CSS for beverages menu list*/
.beverages-menu ol
{
    padding: 10px 0 0 30px;
    line-height: 1.6;
}

/*CSS for beverages menu list items*/
.beverages-menu ol li
{
    font-family: 'Lora', serif;
    font-size: 25px;
}

/*CSS for beverages image*/
.beverages img
{
    padding: 0 0 0 110px;
}

/*Footer CSS*/
footer
{
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100vw;
    height: 20vh;
    background-color: #922c40;
    color: white;
    margin-top: 50px;
    padding-top: 10px;
}
.foot .menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.foot .menu ul li
{
    padding: 9px 20px;
    font-size: 2vh;
    color: white;
}

.foot .menu ul a
{
    text-decoration: none;
}

.foot .social h4
{
    text-align: center;
    border-bottom: solid white;
    padding: 1vh;
}

.foot .social ul li
{
    list-style: none;
    text-decoration: none;
    padding: 9px 10px;
    font-size: 3vh;
    color: white;
    
}

.foot .social ul a
{
    text-decoration: none;
    color: white;
}

.foot .social ul
{
    display: flex;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h5
{
    text-align: center;
    color: white;
    font-family: 'Merriweather', serif;
    padding-top: 10px;
}

.foot .social ul a:hover
{
    transition: 0.4s;
    color: #ffcf6e;
}

.foot .menu ul li:hover
{
    transition: 0.4s;
    color: #ffcf6e;
}
