@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

/*
font-family: 'Merriweather', serif;
*/

/* Margin and padding set to 0 */
*
{
    margin: 0;
    padding: 0;
}

/*Header CSS*/
header
{
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #922c40;
}

/*Header navbar CSS*/
header nav
{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

/*Hotel Logo CSS*/
header nav img
{
    width: 8vh;
    padding: 0 1vh;
}

/*Navbar items CSS (Home, About, Contact Us, etc..)*/
header nav ul li
{
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}

/*While hover on Navbar Items CSS*/
header nav ul li:hover
{
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    color:#ffcf6e;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}

/*Navbar items anchor tag CSS*/
header nav ul a
{
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}

/* Searchbar CSS */
#searchbar
{
    padding: 0 0 0 50px;  
}

/* Searchbar input area CSS */
#searchbar input
{
    border-radius: 5px;
    width: 576px;
    height: 3vh;
    padding: 0 0 0 12px;
}

/* Search button CSS */
#search-button
{
    padding: 0 0 0 12px;
}

#search-button button
{
    width: 50px;
    height: 3.4vh;
    border-radius: 5px;
    background-color: #ffcf6e;
    font-family: 'Merriweather', serif;
}

/* While hovering Search button CSS */
#search-button button:hover
{
    width: 50px;
    height: 3.4vh;
    border-radius: 5px;
    background-color: #ffda6e;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.admin-login
{
    padding-left: 425px;
}

.admin-login a
{
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}

.admin-login a:hover
{
    text-decoration: none;
    list-style: none;
    color:#ffcf6e;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}
/*Body CSS*/
body
{
    background-color: #f3f3f3;
}

/*CSS for main containing all things*/
main
{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    margin: 30px 0 0 0;
}

/*CSS for main container with background white*/
.main-container
{
    background-color: white;
    width: 70vw;
}

/*CSS for main heading recreational activities*/
.main-container h1
{
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 40px 0 20px 0;
}

/*CSS for yellow line below the main heading*/
.main-container hr
{
    background-color: #ffcf6e;
    height: 1px;
    margin: 0 200px;
}

/*CSS for Swimming space*/
.swimming
{
    display: flex;
    padding: 15px 75px 30px 50px;
}

/*CSS for Swim heading and paragraph*/
.swim-info
{
    padding: 40px 30px 0 50px;
    width: 700px;
    padding: 15px 25px 0 0;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    word-spacing: 5px;
}

/*CSS for Swimming heading*/
.swim-info h2
{
    font-family: 'Merriweather', serif;
    font-size: 30px;
}

/*CSS for Swimming image*/
.swim-img img
{
    padding: 15px 0 0 0;
}

/*CSS for meditation space*/
.meditation
{
    display: flex;
    padding: 15px 75px 30px 50px
}

/*CSS for mediation heading and paragraph*/
.meditation-info
{
    width: 700px;
    padding: 15px 0 0 45px;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    word-spacing: 5px;
}

/*CSS for meditation heading*/
.meditation-info h2
{
    font-family: 'Merriweather', serif;
    font-size: 30px;
}

/*CSS for meditation image*/
.meditation-img img
{
    padding: 15px 0 0 0;
}

/*CSS for jogging space*/
.jogging
{
    display: flex;
    padding: 15px 75px 30px 50px;
}

/*CSS for jogging heading and paragraph*/
.jogging-info
{
    padding: 40px 30px 0 50px;
    width: 700px;
    padding: 15px 25px 0 0;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    word-spacing: 5px;
}

/*CSS for jogging paragraph below the heading*/
.jogging-info p
{
    padding: 5px 0 0 0;
}

/*CSS for jogging heading*/
.jogging h2
{
    font-family: 'Merriweather', serif;
    font-size: 30px;
}

/*CSS for jogging image*/
.jogging-img img
{
    padding: 15px 0 0 0;
}

/*CSS for games space*/
.games
{
    display: flex;
    padding: 15px 75px 30px 50px;
    margin: 0 0 20px 0;
}

/*CSS for games heading and paragraph*/
.games-info
{
    width: 700px;
    padding: 15px 0 0 45px;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    word-spacing: 5px;
}

/*CSS for games heading*/
.games-info h2
{
    font-family: 'Merriweather', serif;
    font-size: 30px;
}

/*CSS for games image*/
.games-img img
{
    padding: 15px 0 0 0;
}

/*Footer CSS*/
footer
{
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100vw;
    height: 20vh;
    background-color: #922c40;
    color: white;
    margin-top: 50px;
    padding-top: 10px;
}
.foot .menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.foot .menu ul li
{
    padding: 9px 20px;
    font-size: 2vh;
    color: white;
}

.foot .menu ul a
{
    text-decoration: none;
}

.foot .social h4
{
    text-align: center;
    border-bottom: solid white;
    padding: 1vh;
}

.foot .social ul li
{
    list-style: none;
    text-decoration: none;
    padding: 9px 10px;
    font-size: 3vh;
    color: white;
    
}

.foot .social ul a
{
    text-decoration: none;
    color: white;
}

.foot .social ul
{
    display: flex;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h5
{
    text-align: center;
    color: white;
    font-family: 'Merriweather', serif;
    padding-top: 10px;
}

.foot .social ul a:hover
{
    transition: 0.4s;
    color: #ffcf6e;
}

.foot .menu ul li:hover
{
    transition: 0.4s;
    color: #ffcf6e;
}